* {
  box-sizing: border-box;
}
body {
  color: #202020;
}
.header {
  background-color: #f1f1f1;
}
.header-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  color: #202020;
  font-size: 14px;
  padding: 23px 0;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #202020;
}
.navigator a {
  text-decoration: none;
  color: #202020;
  margin: 0 22px;
}
.favorites {
  text-decoration: none;
  color: #202020;
  display: inline;
}
a.favorites::before {
  content: " ";
  background-image: url(../img/love.png);
}
.book-container {
  margin: 61px auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}
.seting {
  color: #202020;
  margin-left: 123px;
  margin-right: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author {
  font-size: 24px;
  margin-bottom: 22px;
}
.title {
  margin: 0 0 15px 0;
  font-size: 54px;
}
.subtitle {
  display: block;
  margin: 0 0 48px 0;
  font-size: 24px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 49px 0;
}
.info-text {
  margin: 0 0 15px 0;
}
.info span {
  width: 50%;
}
.pricetag {
  font-size: 55px;
  display: inline-block;
  width: 50%;
}
.buttonread {
  font-size: 16px;
  background-color: #f89e02;
  border: 1px solid #f89e02;
  color: white;
  padding: 22px 50px;
  border-radius: 5px;
}
.buttontseal {
  font-size: 16px;
  background-color: white;
  border: 1px solid #f89e02;
  color: #f89e02;
  padding: 22px 50px;
  border-radius: 5px;
}
.price {
  margin: 0 0 47px 0;
}
.about {
  background-color: #f1f1f1;
  padding: 100px 0;
}
.about-conteiner {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.info-about {
  width: 50%;
}
.book-author {
  padding: 66px 50px;
  background-color: #f3f3f3;
}
.foto {
  display: flex;
  margin-bottom: 23px;
}
.foto img {
  margin-right: 17px;
  border-radius: 50%;
}

.to {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foto-to {
  margin-bottom: 15px;
}
.readers-conteiner {
  max-width: 1200px;
  margin: 100px auto;
}
.read-foto {
  display: flex;
  flex-wrap: wrap;
}
.read-foto img {
  width: 175px;

  margin: 12px;
  object-fit: cover;
}
.footer {
  padding: 61px 0;
  background-color: #f3f3f3;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.footer-container div {
  width: 33%;
}
.inf-footer {
  display: flex;
  flex-direction: column;
}
div.inf-footer > span {
  margin-bottom: 27px;
}
.hh {
  font-size: 24px;
  font-weight: bold;
}
